%table.width-100.bordered.small
  %thead.thead-gray
    %tr
      %th Start time
      %th Duration
      %th Protocol
      %th Source
      %th Destination
      %th State
      %th Bytes
      %th Packets 
  %tbody
    - @sessions.each do |sess|
      %tr
        %td
          %a{:href => "/find?" + url_serialize(sess)}= human_time(sess[:stime])
        %td= (sess[:ltime].to_i - sess[:stime].to_i).to_s + " Sec"
        %td= sess[:proto]
        %td= [ sess[:saddr], sess[:sport] ].join(":")
        %td= [ sess[:daddr], sess[:dport] ].join(":")
        %td= sess[:state]
        %td= sess[:bytes]
        %td= sess[:pkts]
  
%a.btn{:href => '/carve?' + (params.collect{|k,v| "#{k}=#{v}"}).join("&")}
  Start carve

