- if defined? @sessions
  %a#toggle_carve_form.gray-light.italic.small
    toggle-form
  #form_content.row{:style => 'display: none'}
    = haml :find_form
- else
  .row
    = haml :find_form

- if defined? @carver
  - if @carver.records_found?
    .row.small
      Time pivot-point set to:
      %span.bold= human_time(@carver.start_time) + ","
      Querying between:
      %span.bold= human_time(@carver.query_start)
      and
      %span.bold= human_time(@carver.query_end)

    - if defined? @sessions
      - if @sessions.empty?
        No sessions found within this time frame!
      - else
        = haml :find_sessions_table
